body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th a {
  color: black;
  text-decoration: none;
}

.table-danger-strong {
  background-color: #cc0000 !important;
  color: white;
}